.funding_container{
    background-color: var(--secondary);
    width: 100%;
    padding-top: 78px;
}

.funding_inner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funding_box{
    width: 425px;
    background: var(--dark);
    border-radius: 4px;
}

.funding_skip_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.funding_skip{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #496178;
    margin-block: 20px;
    cursor: pointer;
}

.funding_skip:hover{
    color: #49617895;
}

.zigzag_img{
    margin: 70px 100px 0 0;
    text-align: right;
}

.zigzag_img > img{
    width: 276px;
    height: 276px;
}

@media screen and (max-width: 500px) {
    .funding_box,
    .funding_status_container{
        width: 350px;
    }
    .zigzag_img{
        margin: 70px 70px 0 0;
    }
    .zigzag_img > img{
        width: 176px;
        height: 176px;
    }
}

@media screen and (max-width: 350px) {
    .funding_box,
    .funding_status_container{
        width: 260px;
    }
    .zigzag_img{
        margin: 70px 20px 0 0;
    }
    .zigzag_img > img{
        width: 126px;
        height: 126px;
    }
}